version: "3.1"

recipe: default.v1

language: en

pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
  analyzer: word
  min_ngram: 1
  max_ngram: 2
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 1
  max_ngram: 4
- name: DIETClassifier
  epochs: 100
  constrain_similarities: true
  model_confidence: true
  entity_recognition: true
  use_masked_language_model: true
  tensorboard_log_directory: ./logs
  evaluate_on_number: 1000
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 100
  constrain_similarities: true
  ranking_length: 10
  scale_loss: true
- name: FallbackClassifier
  threshold: 0.3
  ambiguity_threshold: 0.1
  use_nlu_confidence: true

policies:
- name: MemoizationPolicy
- name: RulePolicy
- name: TEDPolicy
  max_history: 5
  epochs: 100
  constrain_similarities: true
assistant_id: 20250803-085244-affable-rottweiler
